<!--
* Page: imports
* Autor: Loic Melachio Tsayem
* Datum: 18.01.2022
* -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
</head>
<body>

<th:block th:fragment="footer">

    <!-- Footer Start -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="footer-contact">
                                <h2>Adresse</h2>
                                <p><i class="fas fa-map-marker-alt"></i> Magdeburger Str. 50, 14770 Brandenburg an der Havel, Deutschland</p>
                                <p><i class="fas fa-phone-alt fa-spin"></i></i>+49 17600000000 </p>
                                <p><i class="fa fa-envelope"></i>info@pricelyapp.com</p>
                                <div class="footer-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href="https://github.com/Melick237/Pricely_app"><i class="fab fa-github"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <p>Copyright &copy; <a href="#">Pricely</a>, All Right Reserved.</p>
                <p>Designed By <a href="https://melick237.github.io/myCV/">Loic Melachio</a>
                , <a href="https://github.com/ssyafiqahrahman">Syafiqah Rahman</a>, and
                    <a href="https://github.com/jokao1030">Chin-Wen Kao</a>.
                </p>
            </div>
        </div>
    </div>
    <!-- Footer End -->
</th:block>

<th:block th:fragment="header">

    <!-- Nav Bar Start -->
    <div class="navbar navbar-expand-lg bg-light navbar-light">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">Pricely <span>App</span></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="/" class="nav-item nav-link">Home</a>
                    <a href="/categories" class="nav-item nav-link">Categories</a>
                    <a href="/about" class="nav-item nav-link">About</a>
                    <a href="/contact" class="nav-item nav-link">Contact</a>
                    <a href="/view_list" class="nav-item nav-link">List❤</a>


                    <li sec:authorize="isAnonymous()">
                         <a href="/login" class="nav-item nav-link">Login</a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_USER')">
                        <a th:href="@{http://localhost:8080/logout}" class="nav-item nav-link">Logout</a>
                    </li>

                    <!-- Search Box -->
                    <div class="flexsearch">
                        <div class="flexsearch--wrapper">

                            <form class="flexsearch--form" th:action="@{http://localhost:8080/search_result/}" >
                                <div class="flexsearch--input-wrapper">
                                <input class="flexsearch--input" placeholder="Search a Product" type="text"  style="color:#ffffff" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
                                </div>

                                <input class="flexsearch--submit" type="submit" value="Go!"/>

                            </form>
                        </div>
                    </div>
                    <!--Search Box end-->
                </div>
            </div>
        </div>
    </div>
    <!-- Nav Bar End -->
</th:block>

</body>
</html>