<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pricely App</title>

    <th:block th:insert="imports/utils.html :: meta"></th:block>
    <th:block th:insert="imports/utils.html :: maincss"></th:block>

</head>
    <body>
    <th:block th:insert="imports/imports.html :: header"></th:block>
        
        
        <!-- Page Header Start -->
        <div class="page-header mb-0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Kategorie</h2>
                    </div>
                    <div class="col-12">
                        <a href="/">Home</a>
                        <a href="/kategorie">Kategorie</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
        
        
        <!-- Food Start -->
        <div class="food mt-0">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <div class="food-item">
                            <img class="icon-image" src="img/icons/cafe.png" />
                            <h2>Café</h2>
                            <p>
                                Bei uns findest Du die Beste Preise für beliebige Produkte.
                            </p>
                            <a href="">Produkte sehen</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="food-item">
                            <img class="icon-image" src="img/icons/muesli.png" />
                            <h2>Muesli</h2>
                            <p>
                                Lorem ipsum dolor sit amet elit. Phasel nec pretium mi. Curabit facilis ornare velit non vulputa. Aliquam metus tortor auctor quis sem. 
                            </p>
                            <a href="">View Menu</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="food-item">
                            <img class="icon-image" src="img/icons/noodle.png" />
                            <h2>Noodle</h2>
                            <p>
                                Lorem ipsum dolor sit amet elit. Phasel nec pretium mi. Curabit facilis ornare velit non vulputa. Aliquam metus tortor auctor quis sem. 
                            </p>
                            <a href="">View Menu</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Food End -->

    <th:block th:insert="imports/imports.html :: footer"></th:block>

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <th:block th:insert="imports/utils.html :: mainjs"></th:block>
    </body>
</html>
