<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pricely App</title>

    <th:block th:insert="imports/utils.html :: meta"></th:block>
    <th:block th:insert="imports/utils.html :: maincss"></th:block>

</head>
<body>
<th:block th:insert="imports/imports.html :: header"></th:block>


<!-- Page Header Start -->
<div class="page-header mb-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Produkt Detail</h2>
            </div>
            <div class="col-12">
                <a href="/">Home</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Single Post Start-->
<div class="single">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="single-content">
                    <img src="/img/single.jpg" />
                    <h2>Single Produkt</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer molestie,
                        lorem eu eleifend bibendum, augue purus mollis sapien, non rhoncus eros leo
                        in nunc. Donec a nulla vel turpis consectetur tempor ac vel justo. In hac
                        habitasse platea dictumst. Cras nec sollicitudin eros. Nunc eu enim non
                        turpis sagittis rhoncus consectetur id augue. Mauris dignissim neque felis.
                        Phasellus mollis mi a pharetra cursus. Maecenas vulputate augue placerat
                        lacus mattis, nec ornare risus sollicitudin.
                    </p>

                    <a class="btn custom-btn" href="/">Zum Anbieter</a>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Single Post End-->

<th:block th:insert="imports/imports.html :: footer"></th:block>

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<th:block th:insert="imports/utils.html :: mainjs"></th:block>
</body>
</html>
