<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pricely App</title>

    <th:block th:insert="imports/utils.html :: meta"></th:block>
    <th:block th:insert="imports/utils.html :: maincss"></th:block>

</head>
<body>
<th:block th:insert="imports/imports.html :: header"></th:block>


<!-- Page Header Start -->
<div class="page-header mb-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Produktliste</h2>
            </div>
            <div class="col-12">
                <a href="/">Home</a>
                <a href="/productList">Produktliste</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Menu Start -->
<div class="menu">
    <div class="container">
        <div class="section-header text-center">
            <p>Kategorie</p>
            <h2 th:text="${#strings.capitalize(category)}"></h2>
        </div>
        <div class="menu-tab">
            <div class="tab-content">
                <div id="burgers" class="container tab-pane active">
                    <div class="row">
                        <div class="col-lg-8 col-md-12">
                            <div class="menu-item" th:each="product : ${products}">
                                <div class="menu-img">
                                    <img th:src="${product.imagePath}" alt="Image">
                                </div>
                                <div class="menu-text">
                                    <a th:href="'/productDetail/'+${product.id}"><h3><span class="hover-color" th:text="${product.name}"></span> <strong th:text="${product.price}+ ' €'"></strong></h3></a>
                                    <p th:text="${product.description}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Menu End -->

<th:block th:insert="imports/imports.html :: footer"></th:block>

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<th:block th:insert="imports/utils.html :: mainjs"></th:block>
</body>
</html>
